openapi: 3.0.0
info:
  contact:
    email: sncasamen@udla.edu.ec
    name: Sebastian Nicolas Casamen Cuichan
  description: Contrato de interfaz para la transición del modelo de transferencia
    de archivos a una integración basada en servicios REST en tiempo real. Permite
    el envío de pre-registros de pacientes desde Admisiones hacia Facturación.
  title: API de Integración Clínica SaludVital - Admisiones
  version: 1.0.0
servers:
- description: Servidor de producción
  url: https://api.saludvital.com/v1
paths:
  /pre-registros:
    post:
      description: Envía los datos de un paciente que ha agendado una atención para
        su procesamiento financiero inmediato.
      operationId: crearPreRegistro
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreRegistro'
        description: Objeto JSON con la información obligatoria del paciente.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/crearPreRegistro_201_response'
          description: Registro creado exitosamente.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Error de validación (campos faltantes o formatos incorrectos).
      summary: Registrar un nuevo paciente para facturación
      x-content-type: application/json
      x-accepts:
      - application/json
components:
  schemas:
    PreRegistro:
      example:
        full_name: Sebastian Casamen
        insurance_code: IESS
        patient_id: "1001"
        appointment_date: 2026-04-22
      properties:
        patient_id:
          description: Identificador único del paciente.
          example: "1001"
          type: string
        full_name:
          description: Nombre y apellido del paciente.
          example: Sebastian Casamen
          type: string
        appointment_date:
          description: Fecha de la cita en formato YYYY-MM-DD.
          example: 2026-04-22
          format: date
          type: string
        insurance_code:
          description: Código de la entidad aseguradora.
          enum:
          - IESS
          - PRIVADO
          - NINGUNO
          example: IESS
          type: string
      required:
      - appointment_date
      - full_name
      - insurance_code
      - patient_id
      type: object
    ErrorResponse:
      example:
        codigo: INVALID_FORMAT
        detalle: La fecha debe cumplir el formato YYYY-MM-DD
      properties:
        codigo:
          example: INVALID_FORMAT
          type: string
        detalle:
          example: La fecha debe cumplir el formato YYYY-MM-DD
          type: string
      type: object
    crearPreRegistro_201_response:
      example:
        id_transaccion: SV-2026-99887
        mensaje: Pre-registro recibido correctamente
      properties:
        mensaje:
          example: Pre-registro recibido correctamente
          type: string
        id_transaccion:
          example: SV-2026-99887
          type: string
      type: object

